.App {
  text-align: center;
}

.colonne {
    margin-top: 15px;
}

.colonne_2 {
    margin-top: 15px;
    padding-top: 15px;
    cursor: pointer;
    height: 420px;
    border-width:2px;
    border-style:dashed;;
    border-color:black;
}
