.upload {
  text-align: center;
}

.colonne {
    margin-top: 15px;
}

.colonne_2 {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    height: 100%;
    border-width:2px;
    border-style:dashed;;
    border-color:black;
}

.fill {
  margin: 15%;
}
